header {
    background-color: #FFCC00;
}

body {
    margin: 0px;
}

.logo {
    display: flex;
    font-family: monospace;
    justify-content: space-between;
}

.nomemarca {
    padding-top: 42px;
    font-size: 25px;
}

.atividadesh {
    padding-top: 22px;
    font-size: 30px;
    margin-left: 30px;
}

.marcas {
    display: flex;
    text-align: left;
    justify-content: left;
}

.linksh {
    display: none;
    flex-direction: column;

}

.atividadesh:hover .linksh {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.texto {
    font-family: monospace;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 336px;
    background-color: #FFCC00;


}

.textosobre {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.texfot {
    font-family: monospace;
    padding-top: 6px;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    margin-left:550px ;
    margin-right: 550px;
}

.menor {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

button {
    margin: 10px;
}
button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FFCC00;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #daae00}
  
  .button:active {
    background-color: #b69100;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .nmsal5{
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
  }
  .cargos{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .fundoatv5{
    background-color: #FFCC00;
    margin-left: 440px; 
    margin-right: 440px;
    border-radius: 30px;

  }
  .bot5{
    margin-top: 5px;
    justify-content: center;
    text-align: center;
  }
  .margin5{
    margin-top: 30px;
    display: inline-flex;
    flex-direction: column;
  }
  .result5{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
  }